{% extends 'base.html' %}
{% block title%} homeView {% endblock %}
{% block content %}

{% include 'menu.html' %}
<div class="row">
	<div class="col-md-4 col-sm-4 col-xs-12">
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="card px-4 mt-3">
			<h4 class="text-center text-primary mt-2">User-Register</h4>
			<form action="" method="POST">
				<div class="form-group">
					<label for="for-username">Username</label>
					<input type="text" class="form-control" name="username" >
				</div>
					<div class="form-group">
						<label for = "for-password">Password:</label>
						<input type="password" class="form-control" name="password"/>

				</div>
					<div class="form-group">
						<label for="for-phone">Phone:</label>
						<input type="number" class="form-control" name="phone"/>
				</div>
				<div class="form-group text-center mb-3 mt-3">
					<button type="submit" class="btn btn-primary">Register</button>
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
	</div>
	</div>

	{% endblock %}